@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pinar";
  src: url(./assets/fonts/Pinar-DS4-Regular.ttf);
}

body{
  font-family: "pinar";
  text-align: center;
}